:root {
	/* Variables */

	--templateButtonBGColor:  #2ecc71;
	--templateButtonTextColor: #FFFFFFFF;
	--exitButtonBGColor: #e74c3c;
	--exitButtonTextColor: #FFFFFFFF;
	--bodyColor: #000;
	--h1TextColor: #FFFFFFFF;
	--all-ButtonBorderRadius: 24px;
}

body{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background: var(--bodyColor);
}

.Text {
  text-align: center;
  color: var(--h1TextColor);
}

.List button[type = "button"]{
	border: 0;
	background: none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 2px solid var(--templateButtonBGColor);
	padding: 14px 10px;
	width: 200px;
	outline: none;
	color: var(--templateButtonTextColor);
	border-radius: var(--all-ButtonBorderRadius);
	transition: 0.25s;
}
.List button[type = "button"]:hover{
	background: var(--templateButtonBGColor);
}
.List button[type = "exit"]{
	border: 0;
	background: none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 2px solid var(--exitButtonBGColor);
	padding: 14px 10px;
	width: 200px;
	outline: none;
	color: var(--exitButtonTextColor);
	border-radius: var(--all-ButtonBorderRadius);
	transition: 0.25s;
}
.List button[type = "exit"]:hover{
  background: var(--exitButtonBGColor);
}
